.info {
    background: #f8f8f8;
    padding: 240px 0 100px 0;
    margin-top: -200px;
        &__block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;  
            margin: 0 -15px; 
        }
        &__item {
            padding: 0 15px;
        }
        &__title {
            font-size: 15px;
            text-transform: uppercase;
            color: $gray;
            font-weight: 700;
            margin-bottom: 40px
        }
        &__item {
            p:not(:first-child) {
                margin-top: 20px;
            }
            a {
                text-decoration: none;
                font-size: 14px;
                color: #272727;
            } 
            span {
                color: $black;
                font-size: 14px;
                font-weight: 600;
            }  
            & p.info__office {
                margin-top: 45px;
                line-height: 20px;
            }                        
        }
}
