.subscribe {
    &__wrap {
	    padding: 90px 15px 0;
    }
    .banner {
        background: #d7dbd5 url(../images/dest/banner2.jpg) left center no-repeat;
        background-size: cover;
        padding: 50px 0 45px 115px;
        justify-content: flex-start;

        &__info {
            flex-basis: 530px;
            margin-right: 0px;
        }

        &__title {
            letter-spacing: 2.5px;
        }

        &__subtitle {
            margin-top: 25px;
            letter-spacing: 4px;
        }
        &__button {
            @include button (){
                width: 205px;
                padding: 30px 0;
                font-size: 14px;
                background-color: $black; 
                border-radius: 40px;
                letter-spacing: 1px;
            }   
        }
        &__button:hover {
            background-color: lighten($sliderBlack, 10%);
        }             
    }
}